{% extends 'base.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

{% endblock %}

{% block body %}

<html>

<head>
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body id="dd">
    <div id="wrk" class="container mt-5">
        <u><h1 class="text-center">About Us</h1></u>

        <!-- Company Information -->
        <div class="row mt-5">
            <div class="col-lg-6">
                <h2 class="text-center">Our Company</h2>
                <p id="aaa" >Welcome to Waypoint AI, your ultimate destination for hassle-free travel planning powered by the latest technology. At Waypoint AI, we're dedicated to revolutionizing the way you explore the world by leveraging a diverse array of travel APIs.
                    Our mission is to make travel planning effortless and enjoyable for everyone. With Waypoint AI, you can say goodbye to hours of tedious research and hello to personalized itineraries tailored to your preferences.
                    What makes us unique is our seamless integration with leading travel APIs. By tapping into these valuable resources, we're able to provide you with real-time access to a wealth of information, including flights, accommodations, attractions, and more.</p>
            </div>
            <div class="col-lg-6">
                <img src="static/css/newlogo.png" class="img-fluid" alt="Company Image">
            </div>
        </div>

        <!-- Company Goals -->
        <div class="row mt-5">
            <div class="col-lg-12">
                <h2 class="text-center" >Our Goals</h2>
                <p id="bbb">Our goals encompass simplifying travel planning by offering intuitive tools and personalized recommendations, enhancing user experience with seamless interactions, fostering exploration by inspiring curiosity and adventure, building trust through transparency and reliability, and continually improving our platform to meet the evolving needs of travelers worldwide.</p>
            </div>
        </div>
       
    </div>
</body>

</html>


{% endblock %}